/*
############################################
CREATED BY: SQLDevDBA 
CREATED DATE: 2024-08-04
CREATED FOR:  Twitch LiveStream Demo of Codante IO API 
Questions?  Contact:
https://SQLDevdba.com
https://twitch.tv/SQLDevDBA
https://youtube.com/@SQLDevDBA
############################################
*/


USE [Olimpiadas]
GO
/****** Object:  Table [dbo].[Competitors]    Script Date: 8/5/2024 07:45:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Competitors](
	[event_id] [int] NULL,
	[event_discipline_name] [varchar](100) NULL,
	[country_name] [varchar](100) NULL,
	[country_flag_url] [varchar](500) NULL,
	[competitor_name] [varchar](200) NULL,
	[position] [varchar](10) NULL,
	[result_position] [varchar](10) NULL,
	[result_winnerLoserTie] [varchar](10) NULL,
	[result_mark] [varchar](10) NULL,
	[DataCollectionDate] [datetimeoffset](7) NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Competitors]    Script Date: 8/5/2024 07:45:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Competitors]
AS
/*
==========================================
CREATED BY:		SQLDevDBA
CREATED DATE:	08/04/2024
DESCRIPTION:	Selects data from table
==========================================
*/
SELECT  [event_id]
      ,[event_discipline_name]
      ,[country_name]
      ,[country_flag_url]
      ,[competitor_name]
      ,[position]
      ,[result_position]
      ,[result_winnerLoserTie]
      ,[result_mark]
      ,[DataCollectionDate]
  FROM [Olimpiadas].[dbo].[Competitors]
GO
/****** Object:  Table [dbo].[CompetitorsHistory]    Script Date: 8/5/2024 07:45:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompetitorsHistory](
	[event_id] [int] NULL,
	[event_discipline_name] [varchar](100) NULL,
	[country_name] [varchar](100) NULL,
	[country_flag_url] [varchar](500) NULL,
	[competitor_name] [varchar](200) NULL,
	[position] [varchar](10) NULL,
	[result_position] [varchar](10) NULL,
	[result_winnerLoserTie] [varchar](10) NULL,
	[result_mark] [varchar](10) NULL,
	[DataCollectionDate] [datetimeoffset](7) NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_CompetitorsHistory]    Script Date: 8/5/2024 07:45:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_CompetitorsHistory]
AS
/*
==========================================
CREATED BY:		SQLDevDBA
CREATED DATE:	08/04/2024
DESCRIPTION:	Selects data from table
==========================================
*/
SELECT  [event_id]
      ,[event_discipline_name]
      ,[country_name]
      ,[country_flag_url]
      ,[competitor_name]
      ,[position]
      ,[result_position]
      ,[result_winnerLoserTie]
      ,[result_mark]
      ,[DataCollectionDate]
  FROM [Olimpiadas].[dbo].[CompetitorsHistory]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 8/5/2024 07:45:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[id] [varchar](10) NULL,
	[name] [varchar](200) NULL,
	[continent] [varchar](10) NULL,
	[flag_url] [varchar](500) NULL,
	[gold_medals] [int] NULL,
	[silver_medals] [int] NULL,
	[bronze_medals] [int] NULL,
	[total_medals] [int] NULL,
	[rank] [decimal](18, 2) NULL,
	[rank_total_medals] [decimal](18, 2) NULL,
	[DataCollectionDate] [datetimeoffset](7) NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Countries]    Script Date: 8/5/2024 07:45:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_Countries]
AS
/*
==========================================
CREATED BY:		SQLDevDBA
CREATED DATE:	08/04/2024
DESCRIPTION:	Selects data from table
==========================================
*/
SELECT  [id]
      ,[name]
      ,[continent]
      ,[flag_url]
      ,[gold_medals]
      ,[silver_medals]
      ,[bronze_medals]
      ,[total_medals]
      ,[rank]
      ,[rank_total_medals]
      ,[DataCollectionDate]
	  ,CASE WHEN CAST(total_Medals AS DECIMAL(18,2)) >0
		THEN 
			CAST(CAST(gold_medals AS DECIMAL(18,2)) / CAST(total_Medals AS DECIMAL(18,2))  AS DECIMAL(18,2))
		ELSE 0
		END AS Gold_Medals_Pct
  FROM [Olimpiadas].[dbo].[Countries]
GO
/****** Object:  Table [dbo].[CountriesHistory]    Script Date: 8/5/2024 07:45:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CountriesHistory](
	[id] [varchar](10) NULL,
	[name] [varchar](200) NULL,
	[continent] [varchar](10) NULL,
	[flag_url] [varchar](500) NULL,
	[gold_medals] [int] NULL,
	[silver_medals] [int] NULL,
	[bronze_medals] [int] NULL,
	[total_medals] [int] NULL,
	[rank] [decimal](18, 2) NULL,
	[rank_total_medals] [decimal](18, 2) NULL,
	[DataCollectionDate] [datetimeoffset](7) NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_CountriesHistory]    Script Date: 8/5/2024 07:45:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_CountriesHistory]
AS
/*
==========================================
CREATED BY:		SQLDevDBA
CREATED DATE:	08/04/2024
DESCRIPTION:	Selects data from table
==========================================
*/
SELECT  [id]
      ,[name]
      ,[continent]
      ,[flag_url]
      ,[gold_medals]
      ,[silver_medals]
      ,[bronze_medals]
      ,[total_medals]
      ,[rank]
      ,[rank_total_medals]
      ,[DataCollectionDate]
  FROM [Olimpiadas].[dbo].[CountriesHistory]
GO
/****** Object:  Table [dbo].[Disciplines]    Script Date: 8/5/2024 07:45:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Disciplines](
	[id] [varchar](10) NULL,
	[name] [varchar](200) NULL,
	[pictogram_url] [varchar](1000) NULL,
	[pictogram_url_dark] [varchar](1000) NULL,
	[DataCollectionDate] [datetimeoffset](7) NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Disciplines]    Script Date: 8/5/2024 07:45:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE VIEW [dbo].[vw_Disciplines]
AS
/*
==========================================
CREATED BY:		SQLDevDBA
CREATED DATE:	08/04/2024
DESCRIPTION:	Selects data from table
==========================================
*/
SELECT  [id]
      ,[name]
      ,[pictogram_url]
      ,[pictogram_url_dark]
      ,[DataCollectionDate]
  FROM [Olimpiadas].[dbo].[Disciplines]
GO
/****** Object:  Table [dbo].[DisciplinesHistory]    Script Date: 8/5/2024 07:45:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DisciplinesHistory](
	[id] [varchar](10) NULL,
	[name] [varchar](200) NULL,
	[pictogram_url] [varchar](1000) NULL,
	[pictogram_url_dark] [varchar](1000) NULL,
	[DataCollectionDate] [datetimeoffset](7) NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_DisciplinesHistory]    Script Date: 8/5/2024 07:45:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE VIEW [dbo].[vw_DisciplinesHistory]
AS
/*
==========================================
CREATED BY:		SQLDevDBA
CREATED DATE:	08/04/2024
DESCRIPTION:	Selects data from table
==========================================
*/
SELECT  [id]
      ,[name]
      ,[pictogram_url]
      ,[pictogram_url_dark]
      ,[DataCollectionDate]
  FROM [Olimpiadas].[dbo].[DisciplinesHistory]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 8/5/2024 07:45:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[id] [int] NULL,
	[day] [date] NULL,
	[discipline_name] [varchar](200) NULL,
	[discipline_pictogram] [varchar](500) NULL,
	[name] [varchar](200) NULL,
	[venue_name] [varchar](200) NULL,
	[event_name] [varchar](500) NULL,
	[detailed_event_name] [varchar](500) NULL,
	[start_date] [datetimeoffset](7) NULL,
	[end_date] [datetimeoffset](7) NULL,
	[status] [varchar](50) NULL,
	[is_medal_event] [int] NULL,
	[is_live] [int] NULL,
	[gender_code] [varchar](10) NULL,
	[DataCollectionDate] [datetimeoffset](7) NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Events]    Script Date: 8/5/2024 07:45:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

      CREATE VIEW [dbo].[vw_Events]
AS
/*
==========================================
CREATED BY:		SQLDevDBA
CREATED DATE:	08/04/2024
DESCRIPTION:	Selects data from table
==========================================
*/
SELECT [id]
      ,[day]
      ,[discipline_name]
      ,[discipline_pictogram]
      ,[name]
      ,[venue_name]
      ,[event_name]
      ,[detailed_event_name]
      ,[start_date]
      ,[end_date]
      ,[status]
      ,[is_medal_event]
      ,[is_live]
      ,[gender_code]
      ,[DataCollectionDate]
  FROM [Olimpiadas].[dbo].[Events]
GO
/****** Object:  Table [dbo].[EventsHistory]    Script Date: 8/5/2024 07:45:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventsHistory](
	[id] [int] NULL,
	[day] [date] NULL,
	[discipline_name] [varchar](200) NULL,
	[discipline_pictogram] [varchar](500) NULL,
	[name] [varchar](200) NULL,
	[venue_name] [varchar](200) NULL,
	[event_name] [varchar](500) NULL,
	[detailed_event_name] [varchar](500) NULL,
	[start_date] [datetimeoffset](7) NULL,
	[end_date] [datetimeoffset](7) NULL,
	[status] [varchar](50) NULL,
	[is_medal_event] [int] NULL,
	[is_live] [int] NULL,
	[gender_code] [varchar](10) NULL,
	[DataCollectionDate] [datetimeoffset](7) NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_EventsHitory]    Script Date: 8/5/2024 07:45:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

      CREATE VIEW [dbo].[vw_EventsHitory]
AS
/*
==========================================
CREATED BY:		SQLDevDBA
CREATED DATE:	08/04/2024
DESCRIPTION:	Selects data from table
==========================================
*/
SELECT [id]
      ,[day]
      ,[discipline_name]
      ,[discipline_pictogram]
      ,[name]
      ,[venue_name]
      ,[event_name]
      ,[detailed_event_name]
      ,[start_date]
      ,[end_date]
      ,[status]
      ,[is_medal_event]
      ,[is_live]
      ,[gender_code]
      ,[DataCollectionDate]
  FROM [Olimpiadas].[dbo].[EventsHistory]
GO
/****** Object:  StoredProcedure [dbo].[usp_TruncateAllTables]    Script Date: 8/5/2024 07:45:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  CREATE   PROCEDURE [dbo].[usp_TruncateAllTables]
  AS
/*
==========================================
CREATED BY:		SQLDevDBA
CREATED DATE:	08/03/2024
DESCRIPTION:	Truncates All Tables
==========================================
*/
  BEGIN
	TRUNCATE TABLE [Olimpiadas].[dbo].[Countries];
	TRUNCATE TABLE [Olimpiadas].[dbo].[CountriesHistory];

	TRUNCATE TABLE [Olimpiadas].[dbo].[Disciplines];
	TRUNCATE TABLE [Olimpiadas].[dbo].[DisciplinesHistory];

	TRUNCATE TABLE [Olimpiadas].[dbo].[Competitors];
	TRUNCATE TABLE [Olimpiadas].[dbo].[CompetitorsHistory];

	TRUNCATE TABLE [Olimpiadas].[dbo].[Events];
	TRUNCATE TABLE [Olimpiadas].[dbo].[EventsHistory];

  END;
GO
/****** Object:  StoredProcedure [dbo].[usp_TruncateCompetitors]    Script Date: 8/5/2024 07:45:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_TruncateCompetitors]
AS
/*
==========================================
CREATED BY:		SQLDevDBA
CREATED DATE:	08/03/2024
DESCRIPTION:	Truncates Competitors Live Table
==========================================
*/
BEGIN
	TRUNCATE TABLE Olimpiadas.dbo.Competitors;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_TruncateCountries]    Script Date: 8/5/2024 07:45:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE   PROCEDURE [dbo].[usp_TruncateCountries]
AS
/*
==========================================
CREATED BY:		SQLDevDBA
CREATED DATE:	08/03/2024
DESCRIPTION:	Truncates Countries Live Table
==========================================
*/
BEGIN
	TRUNCATE TABLE Olimpiadas.dbo.Countries;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_TruncateDisciplines]    Script Date: 8/5/2024 07:45:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_TruncateDisciplines]
AS
/*
==========================================
CREATED BY:		SQLDevDBA
CREATED DATE:	08/03/2024
DESCRIPTION:	Truncates Disciplines Live Table
==========================================
*/
BEGIN
	TRUNCATE TABLE Olimpiadas.dbo.Disciplines;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_TruncateEvents]    Script Date: 8/5/2024 07:45:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE PROCEDURE [dbo].[usp_TruncateEvents]
AS
/*
==========================================
CREATED BY:		SQLDevDBA
CREATED DATE:	08/03/2024
DESCRIPTION:	Truncates Events Live Table
==========================================
*/
BEGIN
	TRUNCATE TABLE Olimpiadas.dbo.Events;
END;
GO
